.salesStrategy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.biscuitSection,
.confySection,
.snackBarSection,
.seasonalSection,
.scaleSection {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.biscuitBox,
.snackBarBox,
.seasonalBox,
.confyBox, 
.scaleBox {
  width: 900px;
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1.5em * 0.888);
  color: white;
}

.cookiesBoxes,
.confyBoxes,
.seasonalItems {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(20px * 0.888);
}

.cookiesBoxes,
.confyBoxes {
  gap: calc(100px * 0.888);
}

.seasonalItems {
  gap: calc(10px * 0.888);
}

.cookieBox,
.crackerBox,
.confyItemBox,
.singleScaleBox,
.clifBox,
.seasonalItemBox,
.easterBox,
.halloweenBox,
.festiveBox,
.otherBox {
  width: 230px;
  height: 230px;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: calc(30px * 0.888);
  cursor: pointer;
  font-size: calc(2em * 0.888);
}


.singleScaleBox,
.clifBox {
  margin-left: 10px;
  margin-top: 30px;
}

.easterBox {
  background-color: #2D6EAA;
  color: white;
}

.halloweenBox {
  background-color: #ED7D31;
  color: white;

}

.festiveBox {
  background-color: #00B050;
  color: white;

}

.otherBox {
  background-color: #E6AF23;
  color: white;

}

.cookieBox:hover,
.crackerBox:hover,
.confyItemBox:hover,
.seasonalItemBox:hover,
.clifBox:hover,
.singleScaleBox:hover {
  opacity: 0.8;
}

.cookieImage{
  height: 70px;
  width: 70px;
}
.cookieImageTitle{
  height: 30px;
  width: 30px;
}
.crackerImage{
  height: 70px;
  width: 70px;
}

.candyImage{
  height: 70px;
  width: 70px;
}
.confyImageTitle{
  height: 30px;
  width: 30px;
}
.chocolateImage{
  height: 70px;
  width: 70px;
}


.snackBarImageTitle{
  height: 30px;
  width: 30px;
}

.seasonalImageTitle{
  height: 30px;
  width: 30px;
}


.scaleImageTitle{
  height: 30px;
  width: 30px;
}

