.icrContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .icrContent {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .icrBox {
    width: 900px;
    height: 50px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1.5em * 0.888);
    color: white;
  }
  
  .icrImage{
    width: 40px;
    height: 40px;
  }

  .icrLinksRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
  
  .icrLinksSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    width: 180px;
    text-align: center;
  }
  
  .icrLinksSection h2 {
    border: 1px solid black;
    padding: 30px;
  }
  
  .icrLink,
  .icrAddDocuments {
    text-align: left;
  }
  
  .icrLinksSection:nth-child(3) h2 {
    margin-top: 20px;
    padding: 48px;
  }
  