@font-face {
  font-family: 'appetiteProBold';
  src: url('./fonts/appetiteProBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'appetiteProBold';
  background-color: #f9f9f9;
  color: #333;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent App from scrolling */
}

.AppHeader {
  background-color: #000000;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Center items horizontally */
}

.logo {
  display: flex;
  flex-direction: row; /* Align items in a row */
  justify-content: flex-start; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.logo img {
  width: 150px; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  max-width: 100%;
}

.logo h1 {
  font-size: 2.66em; /* Adjusted for scaling */
  margin: 0;
}

.logo > div {
  margin-right: 35px; /* Adjusted for scaling */
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #444;
}

.navbar a {
  color: white;
  text-decoration: none;
  text-align: center;
  flex: 1; /* Fixed width with flex properties */
  height: 125px; /* Adjusted for scaling */
  display: flex; /* Use flexbox for centering content */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.navbar a:nth-child(1) { background-color: #4F2170; font-size: 1em;} /* Adjusted for scaling */
.navbar a:nth-child(2) { background-color: #E18719; font-size: 1em;} /* Adjusted for scaling */
.navbar a:nth-child(3) { background-color: #287819; font-size: 1em;} /* Adjusted for scaling */
.navbar a:nth-child(4) { background-color: #2D6EAA; font-size: 1em;} /* Adjusted for scaling */
.navbar a:nth-child(5) { background-color: #E6AF23; font-size: 1em;} /* Adjusted for scaling */
.navbar a:nth-child(6) { background-color: #A52323; font-size: 1em;} /* Adjusted for scaling */
.navbar a:nth-child(7) { background-color: #4F2170; font-size: 1em;} /* Adjusted for scaling */
.navbar a:nth-child(8) { background-color: #E18719; font-size: 1em;} /* Adjusted for scaling */
.navbar a:nth-child(9) { background-color: #287819; font-size: 1em;} /* Adjusted for scaling */

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden; /* Prevent content div from scrolling */
}

.sidebar {
  background-color: #000000;
  color: white;
  padding: 10px;
  text-align: center;
  width: 115px; /* Adjusted for scaling */
  overflow-y: auto;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li {
  margin: 18px 0; /* Adjusted for scaling */
  padding: 5px;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  border: 3px solid black; /* Add border */
  padding: 8px; /* Adjusted for scaling */
  border-radius: 8px; /* Adjust border radius for curved corners */
  background-color: white;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.mainContent {
  flex-grow: 1;
  padding: 18px; /* Adjusted for scaling */
  overflow-y: auto; /* Add scrolling to main content */
}

.mainContent h2 {
  color: #333;
}

.mainContent p {
  color: #666;
}